body {
    background-color: darkseagreen;
}

    
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}

